# 熟悉数据基本情况

## 整体数据量

In [1]:
# Python连接本地mysql数据库
import pymysql as pym 
import pandas as pd 
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:root@localhost:3306/analysis")
sql_query = "show tables"
df_read = pd.read_sql_query(sql_query,engine)
df_read

  Tables_in_analysis
0              abcde
1             abcdef
2               adbc
3        user_action
4      user_action_0
5      user_action_1
6      user_action_2
7      user_action_3
8      user_action_4
9        zhifu_sc_zf

## 基本数据展示

In [7]:
sql_query = "select * from user_action"
df = pd.read_sql_query(sql_query,engine)
df

,user_id,page,behavior_type,sp_id,time,session
0,10111119,1,浏览,None,2020-01-01 21:47:34,3f7d6f552b7d469d9a0201f6a1ca41bc
1,10111119,5,提交订单,'SP_183'/'SP_708',2020-01-01 21:47:38,3f7d6f552b7d469d9a0201f6a1ca41bc
2,10111119,6,支付,'SP_183'/'SP_708',2020-01-01 21:50:48,3f7d6f552b7d469d9a0201f6a1ca41bc
3,10028611,1,浏览,None,2020-01-01 17:21:08,4a811658a20f4f9eba10f4e927880592
4,10028611,5,提交订单,'SP_530'/'SP_461',2020-01-01 17:21:09,4a811658a20f4f9eba10f4e927880592
...,...,...,...,...,...,...
2943788,10110021,1,浏览,None,2020-01-07 18:25:12,620d87ee13b24d2d9c621b6b54925f8c
2943789,10110021,2,浏览,None,2020-01-07 18:25:14,620d87ee13b24d2d9c621b6b54925f8c
2943790,10110021,3,浏览,SP_671,2020-01-07 18:28:14,620d87ee13b24d2d9c621b6b54925f8c
2943791,10105223,1,浏览,None,2020-01-07 17:23:44,9246550dae4a43189a3cf81bc1845188
2943792,10105223,2,浏览,None,2020-01-07 17:23:47,9246550dae4a43189a3cf81bc1845188

## 基本数据信息

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2943793 entries, 0 to 2943792
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   page           int64
 2   behavior_type  object
 3   sp_id          object
 4   time           object
 5   session        object
dtypes: int64(2), object(4)
memory usage: 134.8+ MB

## 数据清洗

### 重复值

In [10]:
df[df.duplicated()]
df = df.drop_duplicates()
df.shape

(2936580, 6)

### 缺失值

In [11]:
data = pd.DataFrame(df.isnull().sum()).T
data
df.shape

(2936580, 6)

## 进一步理解behavior_type列

In [12]:
sql_query = "select distinct behavior_type from user_action"
dis_behavior_type = pd.read_sql_query(sql_query,engine)
dis_behavior_type

                behavior_type
0                          浏览
1                        提交订单
2                          支付
3                          加购
4                          收藏
5  浏�44334cb58f28550b651342b5

In [13]:
df = df[df["behavior_type"]!="浏�44334cb58f28550b651342b5"]
df.shape

(2936579, 6)

In [14]:
data_1 = pd.DataFrame(df["behavior_type"].value_counts())
data_1 = data_1.reset_index()
data_1 = data_1.rename(columns={"index":"行为类型","behavior_type":"次数"})
data_1

   行为类型       次数
0    浏览  2688656
1    加购   175796
2    收藏    58045
3    支付     7041
4  提交订单     7041

## 修改数据类型

In [15]:
import numpy as np
df["time"] = pd.to_datetime(df["time"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2936579 entries, 0 to 2943792
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   page           int64
 2   behavior_type  object
 3   sp_id          object
 4   time           datetime64[ns]
 5   session        object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 156.8+ MB

## 进一步理解page列

In [ ]:
# #1：首页   2：列表页   3：详情页   4：收藏页   5：购物车   6：支付页
# dict = {1:"首页",2:"列表页",3:"详情页",4:"收藏页",5:"购物车",6:"支付页"}
# df["page"] = df["page"].map(dict)
# df

## 数据涵盖时间段

In [16]:
df[df["time"].isnull()]
max_time = df["time"].max()
min_time = df["time"].min()
display(max_time)
display(min_time)

Timestamp('2020-01-08 00:03:21')

Timestamp('2020-01-01 00:00:03')

In [17]:
df = df[df["time"].dt.day != 8]
df.shape

(2936440, 6)

# 平台整体运营情况

In [21]:
df.to_sql("user_action_4",engine,index=False)

## 流量层面

In [22]:
sql_query = "select date_format(`time`,'%%Y-%%m-%%d') as log_date,count(session) as PV from user_action_4 group by date_format(`time`,'%%Y-%%m-%%d')"
PV = pd.read_sql_query(sql_query,engine)
PV

     log_date      PV
0  2020-01-01  451342
1  2020-01-02  445166
2  2020-01-03  371933
3  2020-01-04  412966
4  2020-01-05  442977
5  2020-01-06  429215
6  2020-01-07  382841

In [23]:
sql_query = "select date_format(`time`,'%%Y-%%m-%%d') as log_date,count(distinct user_id) from user_action_4 group by date_format(`time`,'%%Y-%%m-%%d')"
UV = pd.read_sql_query(sql_query,engine)
UV

     log_date  count(distinct user_id)
0  2020-01-01                    22251
1  2020-01-02                    27697
2  2020-01-03                    23178
3  2020-01-04                    26183
4  2020-01-05                    27613
5  2020-01-06                    26757
6  2020-01-07                    23786

## 商品层面

In [ ]:
df_1 = df[["behavior_type","sp_id"]]
df_2 = df_1[~df_1["sp_id"].isnull()]
df_2
import numpy as np
import pandas as pd
from itertools import chain
from collections import Counter

def compute(d):
    li = d["sp_id"].str.split("/").tolist()
    li = list(chain.from_iterable(li))
    c = Counter(li)
    print(c)
g = df_2.groupby("behavior_type")
g.apply(compute)

In [ ]:
import numpy as np
import pandas as pd
from itertools import chain
from collections import Counter

def compute(d):
    li = d[1].str.split("/").tolist()
    li = list(chain.from_iterable(li))
    c = Counter(li)
    print(c)

data = pd.DataFrame([[1, "abc/def"], [1, "aaa/abc"], [2, "abc/aaa"]])
display(data)
g = data.groupby(0)
g.apply(compute)

## 转化层面

In [24]:
sql_query = """
select a.log_date,
count(distinct a.user_id_1) as user_nums_1,
count(distinct u1.user_id) as user_nums_2,
count(distinct u2.user_id) as user_nums_3,
count(distinct u3.user_id) as user_nums_6
from 
(select user_id as user_id_1,session,page,date_format(`time`,'%%Y-%%m-%%d') as log_date
from user_action_4
where page = 1) a 
left join
user_action_4 u1
on a.user_id_1 = u1.user_id and (u1.page - a.page) = 1 and a.session = u1.session
left join 
user_action_4 u2 
on a.user_id_1 = u2.user_id and (u2.page -a.page) = 2 and a.session = u2.session
left join 
user_action_4 u3 
on a.user_id_1 = u3.user_id and (u3.page - a.page) = 5 and a.session = u3.session
group by a.log_date
"""
data_4 = pd.read_sql_query(sql_query,engine)
data_4

     log_date  user_nums_1  user_nums_2  user_nums_3  user_nums_6
0  2020-01-01        22251        21871        19280          918
1  2020-01-02        27610        26588        22231         1081
2  2020-01-03        23067        22241        18522          870
3  2020-01-04        26113        25104        20868          740
4  2020-01-05        27506        26516        22123          754
5  2020-01-06        26665        25689        21429          762
6  2020-01-07        23695        22841        19012          971

## 支付层面

In [27]:
sql_query = """
select count(distinct session) as session_nums,count(distinct user_id) as user_num
from user_action_4
where behavior_type = "支付"
"""
data_6 = pd.read_sql_query(sql_query,engine)
display(data_6)

sql_query = """
select date_format(`time`,'%%Y-%%m-%%d') as log_date,count(distinct session) as session_nums,count(distinct user_id) as user_num
from user_action_4
where behavior_type = "支付"
group by date_format(`time`,'%%Y-%%m-%%d')
"""
data_5 = pd.read_sql_query(sql_query,engine)
display(data_5)

   session_nums  user_num
0          7034      5969

     log_date  session_nums  user_num
0  2020-01-01          1832       918
1  2020-01-02          1087      1081
2  2020-01-03           876       875
3  2020-01-04           740       739
4  2020-01-05           757       756
5  2020-01-06           767       763
6  2020-01-07           975       972

# 用户行为分析

## 用户支付行为路径分析

In [28]:
sql_query = """
select session,behavior_type
from 
user_action_4
order by session
"""
data_7 = pd.read_sql_query(sql_query,engine)
data_7

                                  session behavior_type
0        00000c5e090244009bd407ff16ce30b9            浏览
1        00000c5e090244009bd407ff16ce30b9            浏览
2        00001ee8040a4e79867a1cedc1239de9            浏览
3        00001ee8040a4e79867a1cedc1239de9            浏览
4        00001ee8040a4e79867a1cedc1239de9            收藏
...                                   ...           ...
2936435  ffffee6e1907426fa063dad0da947719            浏览
2936436  ffffee6e1907426fa063dad0da947719            浏览
2936437  fffff6ca478d40bb9ed3815cda57e35e            浏览
2936438  fffff8a6e0dd41a4a451fc2624aadfc0            浏览
2936439  fffff8a6e0dd41a4a451fc2624aadfc0            加购

[2936440 rows x 2 columns]

In [29]:
data_7[data_7.duplicated()]

                                  session behavior_type
1        00000c5e090244009bd407ff16ce30b9            浏览
3        00001ee8040a4e79867a1cedc1239de9            浏览
6        00001f0660524d749020721b38b0370e            浏览
8        00002c57e20941afa5e58e4ca06b08c8            浏览
10       000039c6e2c240b0bd795e3691aba32b            浏览
...                                   ...           ...
2936430  ffffc73c610a4e7a8722458179ee3199            浏览
2936432  ffffe638da114658b4e9065f64cab9c1            浏览
2936433  ffffe638da114658b4e9065f64cab9c1            浏览
2936435  ffffee6e1907426fa063dad0da947719            浏览
2936436  ffffee6e1907426fa063dad0da947719            浏览

[1225391 rows x 2 columns]

In [30]:
data_7 = data_7.drop_duplicates()
data_7

                                  session behavior_type
0        00000c5e090244009bd407ff16ce30b9            浏览
2        00001ee8040a4e79867a1cedc1239de9            浏览
4        00001ee8040a4e79867a1cedc1239de9            收藏
5        00001f0660524d749020721b38b0370e            浏览
7        00002c57e20941afa5e58e4ca06b08c8            浏览
...                                   ...           ...
2936431  ffffe638da114658b4e9065f64cab9c1            浏览
2936434  ffffee6e1907426fa063dad0da947719            浏览
2936437  fffff6ca478d40bb9ed3815cda57e35e            浏览
2936438  fffff8a6e0dd41a4a451fc2624aadfc0            浏览
2936439  fffff8a6e0dd41a4a451fc2624aadfc0            加购

[1711049 rows x 2 columns]

In [31]:
data_8 = pd.DataFrame(data_7["session"].value_counts())
data_8

                                  session
e1e266ddc4814603bc90ca868b87527d        4
6002eb19e58546ada3cec8ca7355667f        4
c2d0fd04ed8e4cfdbf6e58071db2d227        4
ba4ab34531e94aa684f3e0743427760b        4
0d430909f7074861b82469304e8a62f0        4
...                                   ...
e413ecc79d60498a87bf597c3d79d7ad        1
2b898cb02c854180ab8d90a1705740ab        1
1fc2b6a7aaf049a4b9350b1705efd5eb        1
d75a961ee7464b78a9b9b54296f3dff9        1
da2ad2e2c9034bf8a640e68257e7960f        1

[1463179 rows x 1 columns]

### 浏览 - 支付

In [32]:
data_9 = data_8.reset_index()
data_10 = data_9[data_9["session"] == 2]
data_10.columns= ["session","nums"]
data_10

                                 session  nums
7034    a326e59ecf4e4932899bddaefa27bc89     2
7035    7eb68fe66a1f4558936fc6fa40e94c22     2
7036    369b7f99a2dc40789070f509449ec55d     2
7037    ec38c0f151144392b68f89ffce591136     2
7038    d8b8106fed984571abe18a2eafb02e31     2
...                                  ...   ...
239553  9bf9612c5d0349a6ac73b88a1d661378     2
239554  eade86b662b74da7b01e14864f042781     2
239555  361c4fac678e4ba88419b40eccebd686     2
239556  688367e67fba4d108db794f5f5882a46     2
239557  a8106bbafb504fc7ad1c97bae7da11f9     2

[232524 rows x 2 columns]

In [33]:
data_11 = pd.merge(data_10,data_7,how = "left",on= ["session","session"])
data_11

                                 session  nums behavior_type
0       a326e59ecf4e4932899bddaefa27bc89     2            浏览
1       a326e59ecf4e4932899bddaefa27bc89     2            加购
2       7eb68fe66a1f4558936fc6fa40e94c22     2            浏览
3       7eb68fe66a1f4558936fc6fa40e94c22     2            加购
4       369b7f99a2dc40789070f509449ec55d     2            浏览
...                                  ...   ...           ...
465043  361c4fac678e4ba88419b40eccebd686     2            加购
465044  688367e67fba4d108db794f5f5882a46     2            浏览
465045  688367e67fba4d108db794f5f5882a46     2            加购
465046  a8106bbafb504fc7ad1c97bae7da11f9     2            浏览
465047  a8106bbafb504fc7ad1c97bae7da11f9     2            加购

[465048 rows x 3 columns]

In [34]:
data_12 = data_11.iloc[:,[0,2]]
data_12

                                 session behavior_type
0       a326e59ecf4e4932899bddaefa27bc89            浏览
1       a326e59ecf4e4932899bddaefa27bc89            加购
2       7eb68fe66a1f4558936fc6fa40e94c22            浏览
3       7eb68fe66a1f4558936fc6fa40e94c22            加购
4       369b7f99a2dc40789070f509449ec55d            浏览
...                                  ...           ...
465043  361c4fac678e4ba88419b40eccebd686            加购
465044  688367e67fba4d108db794f5f5882a46            浏览
465045  688367e67fba4d108db794f5f5882a46            加购
465046  a8106bbafb504fc7ad1c97bae7da11f9            浏览
465047  a8106bbafb504fc7ad1c97bae7da11f9            加购

[465048 rows x 2 columns]

In [35]:
g = data_12.groupby("session")
def func(d):
    list_1 = tuple(d["behavior_type"])
    return list_1
list_1 = g.apply(func)
data_13 = pd.DataFrame(list_1)
display(data_13)

                                         0
session
00001ee8040a4e79867a1cedc1239de9  (浏览, 收藏)
0000593163454fc791ce03c9057c560d  (浏览, 加购)
0000782306644707bd3aca003f66f80a  (浏览, 加购)
00011d87ef584ec7bff770335831a712  (浏览, 加购)
00011f565f6a458eab161ec9442eea03  (浏览, 加购)
...                                    ...
ffff63e66f55408d8f20195f2c346315  (浏览, 收藏)
ffff80286b4944a08515ca5f52313fba  (浏览, 收藏)
ffff927eae9a4d96844a78d2b0bf0e4c  (浏览, 加购)
ffffc035d639414aa611c5a8133e4f69  (浏览, 加购)
fffff8a6e0dd41a4a451fc2624aadfc0  (浏览, 加购)

[232524 rows x 1 columns]

In [36]:
data_13 = data_13.reset_index()
data_13

                                 session         0
0       00001ee8040a4e79867a1cedc1239de9  (浏览, 收藏)
1       0000593163454fc791ce03c9057c560d  (浏览, 加购)
2       0000782306644707bd3aca003f66f80a  (浏览, 加购)
3       00011d87ef584ec7bff770335831a712  (浏览, 加购)
4       00011f565f6a458eab161ec9442eea03  (浏览, 加购)
...                                  ...       ...
232519  ffff63e66f55408d8f20195f2c346315  (浏览, 收藏)
232520  ffff80286b4944a08515ca5f52313fba  (浏览, 收藏)
232521  ffff927eae9a4d96844a78d2b0bf0e4c  (浏览, 加购)
232522  ffffc035d639414aa611c5a8133e4f69  (浏览, 加购)
232523  fffff8a6e0dd41a4a451fc2624aadfc0  (浏览, 加购)

[232524 rows x 2 columns]

In [37]:
data_13.columns = ["session","type"]
data_13

                                 session      type
0       00001ee8040a4e79867a1cedc1239de9  (浏览, 收藏)
1       0000593163454fc791ce03c9057c560d  (浏览, 加购)
2       0000782306644707bd3aca003f66f80a  (浏览, 加购)
3       00011d87ef584ec7bff770335831a712  (浏览, 加购)
4       00011f565f6a458eab161ec9442eea03  (浏览, 加购)
...                                  ...       ...
232519  ffff63e66f55408d8f20195f2c346315  (浏览, 收藏)
232520  ffff80286b4944a08515ca5f52313fba  (浏览, 收藏)
232521  ffff927eae9a4d96844a78d2b0bf0e4c  (浏览, 加购)
232522  ffffc035d639414aa611c5a8133e4f69  (浏览, 加购)
232523  fffff8a6e0dd41a4a451fc2624aadfc0  (浏览, 加购)

[232524 rows x 2 columns]

In [38]:
sql_query = "select distinct session,user_id from user_action_4"
df = pd.read_sql_query(sql_query,engine)
df

                                  session   user_id
0        3f7d6f552b7d469d9a0201f6a1ca41bc  10111119
1        4a811658a20f4f9eba10f4e927880592  10028611
2        22589714813b483fbe012f5cae3d2a0f  10067186
3        9ea635790d2b4b02b52eda0c7024abf1  10016821
4        9ce4eebf19964cbaa23467aa51aba300  10110731
...                                   ...       ...
1463175  95db0385f48344f386b651ea4b67c378  10090249
1463176  e2a7bdd17a6946ceb8d9642b9491e74e  10069900
1463177  7b0ea903ba424604a4b6736aa9b5f5e2  10076959
1463178  620d87ee13b24d2d9c621b6b54925f8c  10110021
1463179  9246550dae4a43189a3cf81bc1845188  10105223

[1463180 rows x 2 columns]

In [39]:
data_14 = pd.merge(data_13,df,how = "left",on=["session"])
display(data_14)

                                 session      type   user_id
0       00001ee8040a4e79867a1cedc1239de9  (浏览, 收藏)  10052088
1       0000593163454fc791ce03c9057c560d  (浏览, 加购)  10120906
2       0000782306644707bd3aca003f66f80a  (浏览, 加购)  10053316
3       00011d87ef584ec7bff770335831a712  (浏览, 加购)  10036324
4       00011f565f6a458eab161ec9442eea03  (浏览, 加购)  10010509
...                                  ...       ...       ...
232519  ffff63e66f55408d8f20195f2c346315  (浏览, 收藏)  10066050
232520  ffff80286b4944a08515ca5f52313fba  (浏览, 收藏)  10082367
232521  ffff927eae9a4d96844a78d2b0bf0e4c  (浏览, 加购)  10076665
232522  ffffc035d639414aa611c5a8133e4f69  (浏览, 加购)  10010854
232523  fffff8a6e0dd41a4a451fc2624aadfc0  (浏览, 加购)  10040652

[232524 rows x 3 columns]

In [41]:
data_15 = pd.DataFrame(data_14.groupby("type")["session"].count())
data_15 = data_15.reset_index()
data_15.columns = ["路径","session_nums"]
display(data_15)

           路径  session_nums
0    (加购, 浏览)           377
1    (收藏, 浏览)           126
2    (浏览, 加购)        174110
3  (浏览, 提交订单)             6
4    (浏览, 收藏)         57905

### 浏览 - 提交订单 - 支付

In [42]:
data_8

                                  session
e1e266ddc4814603bc90ca868b87527d        4
6002eb19e58546ada3cec8ca7355667f        4
c2d0fd04ed8e4cfdbf6e58071db2d227        4
ba4ab34531e94aa684f3e0743427760b        4
0d430909f7074861b82469304e8a62f0        4
...                                   ...
e413ecc79d60498a87bf597c3d79d7ad        1
2b898cb02c854180ab8d90a1705740ab        1
1fc2b6a7aaf049a4b9350b1705efd5eb        1
d75a961ee7464b78a9b9b54296f3dff9        1
da2ad2e2c9034bf8a640e68257e7960f        1

[1463179 rows x 1 columns]

In [43]:
data_16 = data_8.reset_index()

In [44]:
data_16.columns = ["session","nums"]

In [45]:
data_17 = data_16[data_16["nums"] == 3]
data_17

                               session  nums
1278  17d041a98fa1431f84b8ea0b468bebf0     3
1279  093bb3fa234a44479f77dd032236d06d     3
1280  00c91bedcf8c4c9a9b8e87906c024056     3
1281  8ae2606dcf594e58b0bb2e61243ec6f9     3
1282  ffa71b4479b0476fbdc353bb1da1807c     3
...                                ...   ...
7029  91268ed1ed2c487ab8ce3fdea6b5a26a     3
7030  da0b970c9a2c4dad8409065643768a4f     3
7031  28806df917d5457f9bdeb2806b6be200     3
7032  94e550ce5590480881802507d461ca68     3
7033  6f72c2062b5a4a509997f906444bd219     3

[5756 rows x 2 columns]

In [46]:
data_7

                                  session behavior_type
0        00000c5e090244009bd407ff16ce30b9            浏览
2        00001ee8040a4e79867a1cedc1239de9            浏览
4        00001ee8040a4e79867a1cedc1239de9            收藏
5        00001f0660524d749020721b38b0370e            浏览
7        00002c57e20941afa5e58e4ca06b08c8            浏览
...                                   ...           ...
2936431  ffffe638da114658b4e9065f64cab9c1            浏览
2936434  ffffee6e1907426fa063dad0da947719            浏览
2936437  fffff6ca478d40bb9ed3815cda57e35e            浏览
2936438  fffff8a6e0dd41a4a451fc2624aadfc0            浏览
2936439  fffff8a6e0dd41a4a451fc2624aadfc0            加购

[1711049 rows x 2 columns]

In [47]:
data_18 = pd.merge(data_17,data_7,how = "left",on=["session","session"])
data_18

                                session  nums behavior_type
0      17d041a98fa1431f84b8ea0b468bebf0     3            浏览
1      17d041a98fa1431f84b8ea0b468bebf0     3          提交订单
2      17d041a98fa1431f84b8ea0b468bebf0     3            支付
3      093bb3fa234a44479f77dd032236d06d     3            浏览
4      093bb3fa234a44479f77dd032236d06d     3          提交订单
...                                 ...   ...           ...
17263  94e550ce5590480881802507d461ca68     3          提交订单
17264  94e550ce5590480881802507d461ca68     3            支付
17265  6f72c2062b5a4a509997f906444bd219     3            浏览
17266  6f72c2062b5a4a509997f906444bd219     3          提交订单
17267  6f72c2062b5a4a509997f906444bd219     3            支付

[17268 rows x 3 columns]

In [48]:
g = data_18.groupby("session")
def func(d):
    tuple_1 = tuple(d["behavior_type"])
    return tuple_1
data_19 = pd.DataFrame(g.apply(func))
data_19

                                               0
session
0001137c88674801925653f6dd0bf997  (浏览, 提交订单, 支付)
00018528af3f40aa95f0824a0759fd76  (浏览, 提交订单, 支付)
0011f11e4bdc4b23a11353e73bfebdaa  (浏览, 提交订单, 支付)
00147e3414ba463e90b42a4421a11355  (浏览, 提交订单, 支付)
0031362608af4de28c83017ea40471e0  (浏览, 提交订单, 支付)
...                                          ...
ffdaf5f39a1e4140bba8cae7e347d44f  (浏览, 提交订单, 支付)
ffdb360b5a554cdfa2b0d476f0204b0c  (浏览, 提交订单, 支付)
ffe753b9676b43dda4d339e350c676e8  (浏览, 提交订单, 支付)
fff3d0ddcfcd43f2818a81659542cbfa  (浏览, 提交订单, 支付)
fffa496d72e84177a871808f26063810  (浏览, 提交订单, 支付)

[5756 rows x 1 columns]

In [49]:
data_19 = data_19.reset_index()
data_19

                               session               0
0     0001137c88674801925653f6dd0bf997  (浏览, 提交订单, 支付)
1     00018528af3f40aa95f0824a0759fd76  (浏览, 提交订单, 支付)
2     0011f11e4bdc4b23a11353e73bfebdaa  (浏览, 提交订单, 支付)
3     00147e3414ba463e90b42a4421a11355  (浏览, 提交订单, 支付)
4     0031362608af4de28c83017ea40471e0  (浏览, 提交订单, 支付)
...                                ...             ...
5751  ffdaf5f39a1e4140bba8cae7e347d44f  (浏览, 提交订单, 支付)
5752  ffdb360b5a554cdfa2b0d476f0204b0c  (浏览, 提交订单, 支付)
5753  ffe753b9676b43dda4d339e350c676e8  (浏览, 提交订单, 支付)
5754  fff3d0ddcfcd43f2818a81659542cbfa  (浏览, 提交订单, 支付)
5755  fffa496d72e84177a871808f26063810  (浏览, 提交订单, 支付)

[5756 rows x 2 columns]

In [50]:
data_19.columns = ["session","type"]
data_19

                               session            type
0     0001137c88674801925653f6dd0bf997  (浏览, 提交订单, 支付)
1     00018528af3f40aa95f0824a0759fd76  (浏览, 提交订单, 支付)
2     0011f11e4bdc4b23a11353e73bfebdaa  (浏览, 提交订单, 支付)
3     00147e3414ba463e90b42a4421a11355  (浏览, 提交订单, 支付)
4     0031362608af4de28c83017ea40471e0  (浏览, 提交订单, 支付)
...                                ...             ...
5751  ffdaf5f39a1e4140bba8cae7e347d44f  (浏览, 提交订单, 支付)
5752  ffdb360b5a554cdfa2b0d476f0204b0c  (浏览, 提交订单, 支付)
5753  ffe753b9676b43dda4d339e350c676e8  (浏览, 提交订单, 支付)
5754  fff3d0ddcfcd43f2818a81659542cbfa  (浏览, 提交订单, 支付)
5755  fffa496d72e84177a871808f26063810  (浏览, 提交订单, 支付)

[5756 rows x 2 columns]

In [51]:
data_20 = pd.DataFrame(data_19.groupby("type")["session"].count())

In [52]:
data_20

                session
type
(提交订单, 支付, 浏览)       20
(支付, 浏览, 提交订单)       11
(浏览, 提交订单, 支付)     5725

### 浏览 - 加购 - 提交订单 - 支付

In [53]:
data_8

                                  session
e1e266ddc4814603bc90ca868b87527d        4
6002eb19e58546ada3cec8ca7355667f        4
c2d0fd04ed8e4cfdbf6e58071db2d227        4
ba4ab34531e94aa684f3e0743427760b        4
0d430909f7074861b82469304e8a62f0        4
...                                   ...
e413ecc79d60498a87bf597c3d79d7ad        1
2b898cb02c854180ab8d90a1705740ab        1
1fc2b6a7aaf049a4b9350b1705efd5eb        1
d75a961ee7464b78a9b9b54296f3dff9        1
da2ad2e2c9034bf8a640e68257e7960f        1

[1463179 rows x 1 columns]

In [54]:
data_21 = data_8[data_8["session"] == 4]
data_21 = data_21.reset_index()
data_21

                                 index  session
0     e1e266ddc4814603bc90ca868b87527d        4
1     6002eb19e58546ada3cec8ca7355667f        4
2     c2d0fd04ed8e4cfdbf6e58071db2d227        4
3     ba4ab34531e94aa684f3e0743427760b        4
4     0d430909f7074861b82469304e8a62f0        4
...                                ...      ...
1273  bd117361f6914e248a57f404028ea549        4
1274  0e6698984cdf4e5f9d350c3fb7c13616        4
1275  f00b3434d94e4fdc90183560de7da044        4
1276  020ab475c3ae41d7be32ca9536a7d66c        4
1277  13243daaaedf457e8b03810cbb2a1fe7        4

[1278 rows x 2 columns]

In [55]:
data_21.columns = ["session","nums"]

In [56]:
data_22 = pd.merge(data_21,data_7,how="left",on = ["session"])
data_22

                               session  nums behavior_type
0     e1e266ddc4814603bc90ca868b87527d     4            浏览
1     e1e266ddc4814603bc90ca868b87527d     4            加购
2     e1e266ddc4814603bc90ca868b87527d     4          提交订单
3     e1e266ddc4814603bc90ca868b87527d     4            支付
4     6002eb19e58546ada3cec8ca7355667f     4            浏览
...                                ...   ...           ...
5107  020ab475c3ae41d7be32ca9536a7d66c     4            支付
5108  13243daaaedf457e8b03810cbb2a1fe7     4            浏览
5109  13243daaaedf457e8b03810cbb2a1fe7     4            加购
5110  13243daaaedf457e8b03810cbb2a1fe7     4          提交订单
5111  13243daaaedf457e8b03810cbb2a1fe7     4            支付

[5112 rows x 3 columns]

In [57]:
g = data_22.groupby("session")
def func(d):
    tuple_2 = tuple(d["behavior_type"])
    return tuple_2
data_23 = pd.DataFrame(g.apply(func))
data_23

                                                   0
session
000a51d2207947e5a211220e539c4c72  (浏览, 加购, 提交订单, 支付)
000dfa37392b4e668d3801e40449fbdd  (浏览, 加购, 提交订单, 支付)
002646c55ea242f088678b23daa9f4cc  (浏览, 加购, 提交订单, 支付)
0072b4900a0c4ab1b0ae1049dc680e1c  (浏览, 加购, 提交订单, 支付)
00bd0d4cbcce41df96950bc3eebb3f06  (浏览, 加购, 提交订单, 支付)
...                                              ...
ff542eb0cace496ea1acc50a3d1b00e3  (浏览, 加购, 提交订单, 支付)
ff55cbe304794aa4b2cd100499878b68  (浏览, 加购, 提交订单, 支付)
ff9039a8438e48d8a4f9134d6ea775de  (支付, 浏览, 加购, 提交订单)
ffa5715f374942fcb88e35decc08fc54  (浏览, 加购, 提交订单, 支付)
fff4724d3f5e4bc59c5b9e067d3d01ca  (浏览, 加购, 提交订单, 支付)

[1278 rows x 1 columns]

In [58]:
data_24  = data_23.reset_index()
data_24

                               session                   0
0     000a51d2207947e5a211220e539c4c72  (浏览, 加购, 提交订单, 支付)
1     000dfa37392b4e668d3801e40449fbdd  (浏览, 加购, 提交订单, 支付)
2     002646c55ea242f088678b23daa9f4cc  (浏览, 加购, 提交订单, 支付)
3     0072b4900a0c4ab1b0ae1049dc680e1c  (浏览, 加购, 提交订单, 支付)
4     00bd0d4cbcce41df96950bc3eebb3f06  (浏览, 加购, 提交订单, 支付)
...                                ...                 ...
1273  ff542eb0cace496ea1acc50a3d1b00e3  (浏览, 加购, 提交订单, 支付)
1274  ff55cbe304794aa4b2cd100499878b68  (浏览, 加购, 提交订单, 支付)
1275  ff9039a8438e48d8a4f9134d6ea775de  (支付, 浏览, 加购, 提交订单)
1276  ffa5715f374942fcb88e35decc08fc54  (浏览, 加购, 提交订单, 支付)
1277  fff4724d3f5e4bc59c5b9e067d3d01ca  (浏览, 加购, 提交订单, 支付)

[1278 rows x 2 columns]

In [59]:
data_24.columns = ["session","type"]
data_25 = pd.DataFrame(data_24.groupby("type")["session"].count())
data_25 = data_25.reset_index()
data_25

                 type  session
0  (加购, 提交订单, 支付, 浏览)        2
1  (提交订单, 支付, 浏览, 加购)        3
2  (支付, 浏览, 加购, 提交订单)        1
3  (浏览, 加购, 提交订单, 支付)     1272

### 浏览 -收藏 - 提交订单 - 支付

In [ ]:
# 0

## 用户支付频次分析

In [61]:
sql_query = "select * from user_action_4"
data1 = pd.read_sql_query(sql_query,engine)
data1.head()

,user_id,page,behavior_type,sp_id,time,session
0,10111119,1,浏览,None,2020-01-01 21:47:34,3f7d6f552b7d469d9a0201f6a1ca41bc
1,10111119,5,提交订单,'SP_183'/'SP_708',2020-01-01 21:47:38,3f7d6f552b7d469d9a0201f6a1ca41bc
2,10111119,6,支付,'SP_183'/'SP_708',2020-01-01 21:50:48,3f7d6f552b7d469d9a0201f6a1ca41bc
3,10028611,1,浏览,None,2020-01-01 17:21:08,4a811658a20f4f9eba10f4e927880592
4,10028611,5,提交订单,'SP_530'/'SP_461',2020-01-01 17:21:09,4a811658a20f4f9eba10f4e927880592

In [62]:
data2 = data1[data1["behavior_type"] == "支付"]
data2 = data2[["user_id","behavior_type"]].sort_values("user_id")
data2

          user_id behavior_type
1683638  10000010            支付
453475   10000020            支付
4753     10000041            支付
1464     10000041            支付
1270858  10000055            支付
...           ...           ...
2555735  10125294            支付
2554518  10125410            支付
2555667  10125516            支付
2554953  10125678            支付
2556678  10125940            支付

[7034 rows x 2 columns]

In [63]:
data3 = data2.groupby("user_id").count()
data3

          behavior_type
user_id
10000010              1
10000020              1
10000041              2
10000055              1
10000124              1
...                 ...
10125294              1
10125410              1
10125516              1
10125678              1
10125940              1

[5969 rows x 1 columns]

In [64]:
data4 = data3.reset_index()

In [65]:
data4

       user_id  behavior_type
0     10000010              1
1     10000020              1
2     10000041              2
3     10000055              1
4     10000124              1
...        ...            ...
5964  10125294              1
5965  10125410              1
5966  10125516              1
5967  10125678              1
5968  10125940              1

[5969 rows x 2 columns]

In [66]:
data5 = data4[data4["behavior_type"] >= 2]
user_nums = data5.shape[0]
user_nums

1017

In [67]:
data4.groupby("behavior_type").count()

               user_id
behavior_type
1                 4952
2                  971
3                   44
4                    2

## 支付用户浏览行为分析

In [68]:
data4

       user_id  behavior_type
0     10000010              1
1     10000020              1
2     10000041              2
3     10000055              1
4     10000124              1
...        ...            ...
5964  10125294              1
5965  10125410              1
5966  10125516              1
5967  10125678              1
5968  10125940              1

[5969 rows x 2 columns]

In [69]:
data5 = data4[data4["behavior_type"] == 1]
data5

       user_id  behavior_type
0     10000010              1
1     10000020              1
3     10000055              1
4     10000124              1
5     10000166              1
...        ...            ...
5964  10125294              1
5965  10125410              1
5966  10125516              1
5967  10125678              1
5968  10125940              1

[4952 rows x 2 columns]

In [70]:
sql_query = "select * from user_action_4"
data6 = pd.read_sql_query(sql_query,engine)
data6.head()

,user_id,page,behavior_type,sp_id,time,session
0,10111119,1,浏览,None,2020-01-01 21:47:34,3f7d6f552b7d469d9a0201f6a1ca41bc
1,10111119,5,提交订单,'SP_183'/'SP_708',2020-01-01 21:47:38,3f7d6f552b7d469d9a0201f6a1ca41bc
2,10111119,6,支付,'SP_183'/'SP_708',2020-01-01 21:50:48,3f7d6f552b7d469d9a0201f6a1ca41bc
3,10028611,1,浏览,None,2020-01-01 17:21:08,4a811658a20f4f9eba10f4e927880592
4,10028611,5,提交订单,'SP_530'/'SP_461',2020-01-01 17:21:09,4a811658a20f4f9eba10f4e927880592

In [71]:
data7 = pd.merge(data5,data6,how = "left",on="user_id")
data7

,user_id,behavior_type_x,page,behavior_type_y,sp_id,time,session
0,10000010,1,1,浏览,None,2020-01-05 21:41:31,e41998aabb1d4b00a538c421e22b1cfe
1,10000010,1,2,浏览,None,2020-01-05 21:41:38,e41998aabb1d4b00a538c421e22b1cfe
2,10000010,1,3,提交订单,SP_292,2020-01-05 21:43:53,e41998aabb1d4b00a538c421e22b1cfe
3,10000010,1,6,支付,SP_292,2020-01-05 21:47:26,e41998aabb1d4b00a538c421e22b1cfe
4,10000010,1,1,浏览,None,2020-01-05 16:38:50,08189c5322a74ddfb5d9e4a63f6ec3b6
...,...,...,...,...,...,...,...
185742,10125940,1,5,浏览,'SP_1'/'SP_325'/'SP_287'/'SP_866'/'SP_510'/'SP...,2020-01-07 05:03:34,2bda8abd620f4d72b7b93df55814df3c
185743,10125940,1,1,浏览,None,2020-01-07 16:10:52,6ebde74889524cdca7fa602cf1fac97a
185744,10125940,1,5,浏览,'SP_545'/'SP_528'/'SP_855'/'SP_765'/'SP_880',2020-01-07 16:10:56,6ebde74889524cdca7fa602cf1fac97a
185745,10125940,1,1,浏览,None,2020-01-07 08:26:14,41ebcfd18d3046d39a16ee133fb0b267
185746,10125940,1,4,加购,SP_638,2020-01-07 08:26:22,41ebcfd18d3046d39a16ee133fb0b267

In [72]:
data8 = data7[data7["behavior_type_y"] == "浏览"]
data8

,user_id,behavior_type_x,page,behavior_type_y,sp_id,time,session
0,10000010,1,1,浏览,None,2020-01-05 21:41:31,e41998aabb1d4b00a538c421e22b1cfe
1,10000010,1,2,浏览,None,2020-01-05 21:41:38,e41998aabb1d4b00a538c421e22b1cfe
4,10000010,1,1,浏览,None,2020-01-05 16:38:50,08189c5322a74ddfb5d9e4a63f6ec3b6
5,10000010,1,5,浏览,'SP_695'/'SP_781'/'SP_209'/'SP_315'/'SP_537'/'...,2020-01-05 16:38:54,08189c5322a74ddfb5d9e4a63f6ec3b6
6,10000010,1,1,浏览,None,2020-01-05 10:02:17,3a885dfb2f0c4ed3870393ecc4fa2bac
...,...,...,...,...,...,...,...
185741,10125940,1,1,浏览,None,2020-01-07 05:03:28,2bda8abd620f4d72b7b93df55814df3c
185742,10125940,1,5,浏览,'SP_1'/'SP_325'/'SP_287'/'SP_866'/'SP_510'/'SP...,2020-01-07 05:03:34,2bda8abd620f4d72b7b93df55814df3c
185743,10125940,1,1,浏览,None,2020-01-07 16:10:52,6ebde74889524cdca7fa602cf1fac97a
185744,10125940,1,5,浏览,'SP_545'/'SP_528'/'SP_855'/'SP_765'/'SP_880',2020-01-07 16:10:56,6ebde74889524cdca7fa602cf1fac97a
185745,10125940,1,1,浏览,None,2020-01-07 08:26:14,41ebcfd18d3046d39a16ee133fb0b267

In [73]:
data9 = pd.DataFrame(data8.groupby("user_id")["behavior_type_y"].count())
data9 = data9.reset_index()
data9

       user_id  behavior_type_y
0     10000010               16
1     10000020               75
2     10000055               40
3     10000124               26
4     10000166               79
...        ...              ...
4947  10125294               25
4948  10125410               19
4949  10125516                9
4950  10125678               10
4951  10125940               12

[4952 rows x 2 columns]

In [74]:
data9.sort_values("behavior_type_y",ascending = False)

       user_id  behavior_type_y
3163  10079331              103
4684  10117369              103
1628  10040064               98
3213  10080669               96
3190  10080149               95
...        ...              ...
4053  10101450                4
4281  10106963                3
987   10024620                3
347   10009195                3
1245  10030509                2

[4952 rows x 2 columns]

In [75]:
import pandasql as pds
sql = """
select 点击次数分组,count(distinct user_id) as user_nums
from
(select user_id,
case when behavior_type_y <= 5 then "小于5次"
when behavior_type_y > 5 and behavior_type_y <= 30 then "(5,30]"
when behavior_type_y >30 and behavior_type_y <= 60 then "(30,60]"
when behavior_type_y > 60 and behavior_type_y <= 90 then "(60,90]"
when behavior_type_y > 90 and behavior_type_y <= 120 then "(90,120]"
end as "点击次数分组"
from data9) a
group by 点击次数分组
"""
data10 = pds.sqldf(sql)
data10 = data10.sort_values("user_nums",ascending = True)
data10

     点击次数分组  user_nums
3  (90,120]         18
4      小于5次         30
2   (60,90]        313
0   (30,60]       2176
1    (5,30]       2415

## 用户商品偏好分析

In [76]:
sql_query = "select * from user_action_4"
data__1 = pd.read_sql_query(sql_query,engine)
data__1

,user_id,page,behavior_type,sp_id,time,session
0,10111119,1,浏览,None,2020-01-01 21:47:34,3f7d6f552b7d469d9a0201f6a1ca41bc
1,10111119,5,提交订单,'SP_183'/'SP_708',2020-01-01 21:47:38,3f7d6f552b7d469d9a0201f6a1ca41bc
2,10111119,6,支付,'SP_183'/'SP_708',2020-01-01 21:50:48,3f7d6f552b7d469d9a0201f6a1ca41bc
3,10028611,1,浏览,None,2020-01-01 17:21:08,4a811658a20f4f9eba10f4e927880592
4,10028611,5,提交订单,'SP_530'/'SP_461',2020-01-01 17:21:09,4a811658a20f4f9eba10f4e927880592
...,...,...,...,...,...,...
2936435,10110021,1,浏览,None,2020-01-07 18:25:12,620d87ee13b24d2d9c621b6b54925f8c
2936436,10110021,2,浏览,None,2020-01-07 18:25:14,620d87ee13b24d2d9c621b6b54925f8c
2936437,10110021,3,浏览,SP_671,2020-01-07 18:28:14,620d87ee13b24d2d9c621b6b54925f8c
2936438,10105223,1,浏览,None,2020-01-07 17:23:44,9246550dae4a43189a3cf81bc1845188
2936439,10105223,2,浏览,None,2020-01-07 17:23:47,9246550dae4a43189a3cf81bc1845188

In [77]:
df = data__1[["behavior_type","sp_id"]]
df = df[~df["sp_id"].isnull()]
df

        behavior_type                                              sp_id
1                提交订单                                  'SP_183'/'SP_708'
2                  支付                                  'SP_183'/'SP_708'
4                提交订单                                  'SP_530'/'SP_461'
5                  支付                                  'SP_530'/'SP_461'
8                提交订单                                             SP_321
...               ...                                                ...
2936426            浏览  'SP_27'/'SP_619'/'SP_446'/'SP_303'/'SP_219'/'S...
2936428            浏览  'SP_168'/'SP_631'/'SP_250'/'SP_266'/'SP_459'/'...
2936430            浏览  'SP_773'/'SP_360'/'SP_805'/'SP_796'/'SP_675'/'...
2936434            浏览  'SP_822'/'SP_606'/'SP_69'/'SP_381'/'SP_868'/'S...
2936437            浏览                                             SP_671

[888454 rows x 2 columns]

In [78]:
import numpy as np
import pandas as pd
from itertools import chain
from collections import Counter
g = df.groupby("behavior_type")
def compute(d):
    li = d["sp_id"].str.split("/").tolist()
    li = list(chain.from_iterable(li))
    return li
data__2 = pd.DataFrame(g.apply(compute))
data__2

                                                               0
behavior_type
加购             [SP_812, SP_108, SP_636, SP_339, SP_613, SP_87...
提交订单           ['SP_183', 'SP_708', 'SP_530', 'SP_461', SP_32...
支付             ['SP_183', 'SP_708', 'SP_530', 'SP_461', SP_32...
收藏             [SP_779, SP_695, SP_19, SP_191, SP_126, SP_548...
浏览             [SP_304, SP_731, 'SP_156', 'SP_310', 'SP_10', ...

In [79]:
data__3 = data__2.reset_index()
data__3

  behavior_type                                                  0
0            加购  [SP_812, SP_108, SP_636, SP_339, SP_613, SP_87...
1          提交订单  ['SP_183', 'SP_708', 'SP_530', 'SP_461', SP_32...
2            支付  ['SP_183', 'SP_708', 'SP_530', 'SP_461', SP_32...
3            收藏  [SP_779, SP_695, SP_19, SP_191, SP_126, SP_548...
4            浏览  [SP_304, SP_731, 'SP_156', 'SP_310', 'SP_10', ...

In [80]:
data__3.columns = ["behavior_type","sp_ids"]
data__3

  behavior_type                                             sp_ids
0            加购  [SP_812, SP_108, SP_636, SP_339, SP_613, SP_87...
1          提交订单  ['SP_183', 'SP_708', 'SP_530', 'SP_461', SP_32...
2            支付  ['SP_183', 'SP_708', 'SP_530', 'SP_461', SP_32...
3            收藏  [SP_779, SP_695, SP_19, SP_191, SP_126, SP_548...
4            浏览  [SP_304, SP_731, 'SP_156', 'SP_310', 'SP_10', ...

In [81]:
data__4 = data__3.explode("sp_ids")
display(data__4)

   behavior_type    sp_ids
0             加购    SP_812
0             加购    SP_108
0             加购    SP_636
0             加购    SP_339
0             加购    SP_613
..           ...       ...
4             浏览  'SP_166'
4             浏览  'SP_192'
4             浏览  'SP_364'
4             浏览  'SP_375'
4             浏览    SP_671

[5113723 rows x 2 columns]

In [82]:
data__4["sp_ids"] = data__4["sp_ids"].str.replace("'","")
data__4["sp_ids"] = data__4["sp_ids"].str.replace("[","")
data__4["sp_ids"] = data__4["sp_ids"].str.replace("]","")
data__4

   behavior_type  sp_ids
0             加购  SP_812
0             加购  SP_108
0             加购  SP_636
0             加购  SP_339
0             加购  SP_613
..           ...     ...
4             浏览  SP_166
4             浏览  SP_192
4             浏览  SP_364
4             浏览  SP_375
4             浏览  SP_671

[5113723 rows x 2 columns]

In [83]:
import pandasql as pds 
sql = "select count(distinct sp_ids) as sp_nums from data__4"
data__5 = pds.sqldf(sql)
data__5

   sp_nums
0      761

In [84]:
sql = "select count(distinct sp_ids) as sp_nums from data__4 where behavior_type = '支付' "
data__6 = pds.sqldf(sql)
data__6

   sp_nums
0      758

In [85]:
data__7 = pd.DataFrame(data__4.groupby(["behavior_type","sp_ids"])["sp_ids"].count())
data__7

                      sp_ids
behavior_type sp_ids
加购            SP_1       305
              SP_10      306
              SP_100     303
              SP_101     321
              SP_102      90
...                      ...
浏览            SP_93     7885
              SP_95     2221
              SP_96     2185
              SP_97     8148
              SP_99     8131

[3799 rows x 1 columns]

In [86]:
data__7.columns = ["sp_nums"]

In [87]:
data__7.reset_index()

     behavior_type  sp_ids  sp_nums
0               加购    SP_1      305
1               加购   SP_10      306
2               加购  SP_100      303
3               加购  SP_101      321
4               加购  SP_102       90
...            ...     ...      ...
3794            浏览   SP_93     7885
3795            浏览   SP_95     2221
3796            浏览   SP_96     2185
3797            浏览   SP_97     8148
3798            浏览   SP_99     8131

[3799 rows x 3 columns]

In [88]:
import pandasql as pds
sql = """
select * 
from
(select data__7.*,
row_number() over(partition by behavior_type order by sp_nums desc) as rn 
from 
data__7)a
where rn <= 10
"""
data__8 = pds.sqldf(sql)
data__8

   behavior_type  sp_ids  sp_nums  rn
0             加购  SP_432      344   1
1             加购  SP_151      341   2
2             加购  SP_523      339   3
3             加购  SP_389      331   4
4             加购  SP_266      330   5
5             加购  SP_188      329   6
6             加购  SP_400      329   7
7             加购  SP_699      329   8
8             加购  SP_782      329   9
9             加购  SP_838      328  10
10          提交订单  SP_336       59   1
11          提交订单  SP_218       55   2
12          提交订单  SP_481       54   3
13          提交订单  SP_493       52   4
14          提交订单  SP_583       52   5
15          提交订单  SP_799       52   6
16          提交订单   SP_14       51   7
17          提交订单  SP_381       51   8
18          提交订单  SP_563       51   9
19          提交订单  SP_649       51  10
20            支付  SP_336       59   1
21            支付  SP_218       55   2
22            支付  SP_481       54   3
23            支付  SP_493       52   4
24            支付  SP_583       52   5
25            支付  SP_799       52   6
26            支付   SP_14       51   7
27            支付  SP_381       51   8
28            支付  SP_563       51   9
29            支付  SP_649       51  10
30            收藏  SP_726      131   1
31            收藏  SP_277      123   2
32            收藏  SP_495      123   3
33            收藏  SP_833      122   4
34            收藏  SP_838      122   5
35            收藏  SP_243      121   6
36            收藏   SP_38      119   7
37            收藏  SP_613      119   8
38            收藏  SP_687      119   9
39            收藏  SP_193      118  10
40            浏览  SP_419     8305   1
41            浏览   SP_59     8278   2
42            浏览  SP_665     8263   3
43            浏览  SP_469     8259   4
44            浏览   SP_16     8253   5
45            浏览  SP_430     8253   6
46            浏览  SP_671     8252   7
47            浏览  SP_422     8248   8
48            浏览    SP_7     8245   9
49            浏览  SP_526     8240  10

In [89]:
data__9 = data__8[data__8["behavior_type"] == "浏览"]
data__9

   behavior_type  sp_ids  sp_nums  rn
40            浏览  SP_419     8305   1
41            浏览   SP_59     8278   2
42            浏览  SP_665     8263   3
43            浏览  SP_469     8259   4
44            浏览   SP_16     8253   5
45            浏览  SP_430     8253   6
46            浏览  SP_671     8252   7
47            浏览  SP_422     8248   8
48            浏览    SP_7     8245   9
49            浏览  SP_526     8240  10

In [90]:
data__10 = data__8[data__8["behavior_type"] == "收藏"]
data__10

   behavior_type  sp_ids  sp_nums  rn
30            收藏  SP_726      131   1
31            收藏  SP_277      123   2
32            收藏  SP_495      123   3
33            收藏  SP_833      122   4
34            收藏  SP_838      122   5
35            收藏  SP_243      121   6
36            收藏   SP_38      119   7
37            收藏  SP_613      119   8
38            收藏  SP_687      119   9
39            收藏  SP_193      118  10

In [91]:
data__11 = data__8[data__8["behavior_type"] == "加购"]
data__11

  behavior_type  sp_ids  sp_nums  rn
0            加购  SP_432      344   1
1            加购  SP_151      341   2
2            加购  SP_523      339   3
3            加购  SP_389      331   4
4            加购  SP_266      330   5
5            加购  SP_188      329   6
6            加购  SP_400      329   7
7            加购  SP_699      329   8
8            加购  SP_782      329   9
9            加购  SP_838      328  10

In [92]:
data__12 = data__8[data__8["behavior_type"] == "提交订单"]
data__12

   behavior_type  sp_ids  sp_nums  rn
10          提交订单  SP_336       59   1
11          提交订单  SP_218       55   2
12          提交订单  SP_481       54   3
13          提交订单  SP_493       52   4
14          提交订单  SP_583       52   5
15          提交订单  SP_799       52   6
16          提交订单   SP_14       51   7
17          提交订单  SP_381       51   8
18          提交订单  SP_563       51   9
19          提交订单  SP_649       51  10

In [93]:
data__13 = data__8[data__8["behavior_type"] == "支付"]
data__13

   behavior_type  sp_ids  sp_nums  rn
20            支付  SP_336       59   1
21            支付  SP_218       55   2
22            支付  SP_481       54   3
23            支付  SP_493       52   4
24            支付  SP_583       52   5
25            支付  SP_799       52   6
26            支付   SP_14       51   7
27            支付  SP_381       51   8
28            支付  SP_563       51   9
29            支付  SP_649       51  10

## 用户行为时间偏好

In [94]:
sql_query = "select * from user_action_4"
data11 = pd.read_sql_query(sql_query,engine)
data11

,user_id,page,behavior_type,sp_id,time,session
0,10111119,1,浏览,None,2020-01-01 21:47:34,3f7d6f552b7d469d9a0201f6a1ca41bc
1,10111119,5,提交订单,'SP_183'/'SP_708',2020-01-01 21:47:38,3f7d6f552b7d469d9a0201f6a1ca41bc
2,10111119,6,支付,'SP_183'/'SP_708',2020-01-01 21:50:48,3f7d6f552b7d469d9a0201f6a1ca41bc
3,10028611,1,浏览,None,2020-01-01 17:21:08,4a811658a20f4f9eba10f4e927880592
4,10028611,5,提交订单,'SP_530'/'SP_461',2020-01-01 17:21:09,4a811658a20f4f9eba10f4e927880592
...,...,...,...,...,...,...
2936435,10110021,1,浏览,None,2020-01-07 18:25:12,620d87ee13b24d2d9c621b6b54925f8c
2936436,10110021,2,浏览,None,2020-01-07 18:25:14,620d87ee13b24d2d9c621b6b54925f8c
2936437,10110021,3,浏览,SP_671,2020-01-07 18:28:14,620d87ee13b24d2d9c621b6b54925f8c
2936438,10105223,1,浏览,None,2020-01-07 17:23:44,9246550dae4a43189a3cf81bc1845188
2936439,10105223,2,浏览,None,2020-01-07 17:23:47,9246550dae4a43189a3cf81bc1845188

In [95]:
import pandasql as  pds
sql = """
select count(distinct user_id) as user_nums
from 
data11
"""
data22 = pds.sqldf(sql)
data22

   user_nums
0      99235

In [96]:
sql_query = "select date_format(`time`,'%%Y-%%m-%%d') as log_date,count(distinct user_id ) from user_action_4 group by date_format(`time`,'%%Y-%%m-%%d')"
data33 = pd.read_sql_query(sql_query,engine)
data33

     log_date  count(distinct user_id )
0  2020-01-01                     22251
1  2020-01-02                     27697
2  2020-01-03                     23178
3  2020-01-04                     26183
4  2020-01-05                     27613
5  2020-01-06                     26757
6  2020-01-07                     23786

In [97]:
sql_query = """
select date_format(`time`,'%%Y-%%m-%%d') as log_date,count(distinct user_id )
from user_action_4 
where dayofweek(`time`) = 1 or dayofweek(`time`) = 7
group by date_format(`time`,'%%Y-%%m-%%d')
"""
data44 = pd.read_sql_query(sql_query,engine)
data44

     log_date  count(distinct user_id )
0  2020-01-04                     26183
1  2020-01-05                     27613

In [98]:
sql_query = """
select date_format(`time`,'%%Y-%%m-%%d') as log_date,count(distinct user_id )
from user_action_4 
where dayofweek(`time`) = 2 or dayofweek(`time`) = 3 or dayofweek(`time`) = 4 or dayofweek(`time`) = 5 or dayofweek(`time`) = 6
group by date_format(`time`,'%%Y-%%m-%%d')
"""
data55 = pd.read_sql_query(sql_query,engine)
data55

     log_date  count(distinct user_id )
0  2020-01-01                     22251
1  2020-01-02                     27697
2  2020-01-03                     23178
3  2020-01-06                     26757
4  2020-01-07                     23786

In [99]:
sql_query = """
select date_format(`time`,'%%Y-%%m-%%d') as log_date,behavior_type,count(distinct user_id )
from user_action_4 
group by date_format(`time`,'%%Y-%%m-%%d'),behavior_type
"""
data66 = pd.read_sql_query(sql_query,engine)
data66

      log_date behavior_type  count(distinct user_id )
0   2020-01-01            加购                     15645
1   2020-01-01          提交订单                       918
2   2020-01-01            支付                       918
3   2020-01-01            收藏                      7194
4   2020-01-01            浏览                     22251
5   2020-01-02            加购                     17304
6   2020-01-02          提交订单                      1082
7   2020-01-02            支付                      1081
8   2020-01-02            收藏                      7559
9   2020-01-02            浏览                     27656
10  2020-01-03            加购                     14435
11  2020-01-03          提交订单                       870
12  2020-01-03            支付                       875
13  2020-01-03            收藏                      6337
14  2020-01-03            浏览                     23143
15  2020-01-04            加购                     16072
16  2020-01-04          提交订单                       740
17  2020-01-04            支付                       739
18  2020-01-04            收藏                      7044
19  2020-01-04            浏览                     26155
20  2020-01-05            加购                     17200
21  2020-01-05          提交订单                       755
22  2020-01-05            支付                       756
23  2020-01-05            收藏                      7560
24  2020-01-05            浏览                     27569
25  2020-01-06            加购                     16623
26  2020-01-06          提交订单                       762
27  2020-01-06            支付                       763
28  2020-01-06            收藏                      7266
29  2020-01-06            浏览                     26731
30  2020-01-07            加购                     14678
31  2020-01-07          提交订单                       977
32  2020-01-07            支付                       972
33  2020-01-07            收藏                      6557
34  2020-01-07            浏览                     23753

In [100]:
sql_query = """
select dayofweek(`time`) as week_1,behavior_type,count(distinct user_id )
from user_action_4 
group by dayofweek(`time`)  ,behavior_type
"""
data77 = pd.read_sql_query(sql_query,engine)
data77

    week_1 behavior_type  count(distinct user_id )
0        1            加购                     17200
1        1          提交订单                       755
2        1            支付                       756
3        1            收藏                      7560
4        1            浏览                     27569
5        2            加购                     16623
6        2          提交订单                       762
7        2            支付                       763
8        2            收藏                      7266
9        2            浏览                     26731
10       3            加购                     14678
11       3          提交订单                       977
12       3            支付                       972
13       3            收藏                      6557
14       3            浏览                     23753
15       4            加购                     15645
16       4          提交订单                       918
17       4            支付                       918
18       4            收藏                      7194
19       4            浏览                     22251
20       5            加购                     17304
21       5          提交订单                      1082
22       5            支付                      1081
23       5            收藏                      7559
24       5            浏览                     27656
25       6            加购                     14435
26       6          提交订单                       870
27       6            支付                       875
28       6            收藏                      6337
29       6            浏览                     23143
30       7            加购                     16072
31       7          提交订单                       740
32       7            支付                       739
33       7            收藏                      7044
34       7            浏览                     26155

In [101]:
dict = {1:"星期天",2:"星期一",3:"星期二",4:"星期三",5:"星期四",6:"星期五",7:"星期六"}
data77["week_1"] = data77["week_1"].map(dict)
data77

   week_1 behavior_type  count(distinct user_id )
0     星期天            加购                     17200
1     星期天          提交订单                       755
2     星期天            支付                       756
3     星期天            收藏                      7560
4     星期天            浏览                     27569
5     星期一            加购                     16623
6     星期一          提交订单                       762
7     星期一            支付                       763
8     星期一            收藏                      7266
9     星期一            浏览                     26731
10    星期二            加购                     14678
11    星期二          提交订单                       977
12    星期二            支付                       972
13    星期二            收藏                      6557
14    星期二            浏览                     23753
15    星期三            加购                     15645
16    星期三          提交订单                       918
17    星期三            支付                       918
18    星期三            收藏                      7194
19    星期三            浏览                     22251
20    星期四            加购                     17304
21    星期四          提交订单                      1082
22    星期四            支付                      1081
23    星期四            收藏                      7559
24    星期四            浏览                     27656
25    星期五            加购                     14435
26    星期五          提交订单                       870
27    星期五            支付                       875
28    星期五            收藏                      6337
29    星期五            浏览                     23143
30    星期六            加购                     16072
31    星期六          提交订单                       740
32    星期六            支付                       739
33    星期六            收藏                      7044
34    星期六            浏览                     26155

In [102]:
sql_query = """
select hour(`time`),behavior_type,count(distinct user_id )
from user_action_4 
group by hour(`time`) ,behavior_type
"""
data88 = pd.read_sql_query(sql_query,engine)
data88

     hour(`time`) behavior_type  count(distinct user_id )
0               0            加购                      1419
1               0          提交订单                        52
2               0            支付                        71
3               0            收藏                       522
4               0            浏览                     10298
..            ...           ...                       ...
115            23            加购                     12306
116            23          提交订单                       569
117            23            支付                       571
118            23            收藏                      4174
119            23            浏览                     62170

[120 rows x 3 columns]

## 用户价值分析

In [103]:
sql_query = """
select user_id,datediff("2020-01-15",max(date_format(`time`,'%%Y-%%m-%%d'))) as R,count(distinct session) as F
from 
user_action_4
where behavior_type = "支付"
group by user_id
"""
data111 = pd.read_sql_query(sql_query,engine)
data111

       user_id   R  F
0     10000010  10  1
1     10000020  13  1
2     10000041  14  2
3     10000055  11  1
4     10000124  10  1
...        ...  .. ..
5964  10125294   8  1
5965  10125410   8  1
5966  10125516   8  1
5967  10125678   8  1
5968  10125940   8  1

[5969 rows x 3 columns]

In [104]:
a = data111["R"].min()
b = data111["R"].max()
c = data111["F"].min()
d = data111["F"].max()
display(a)
display(b)
display(c)
display(d)

8

14

1

4

In [106]:
def func(a):
    if a >= 8 and a < 10:
        return 4
    elif a >= 10 and a < 12:
        return 3
    elif a >= 12 and a < 14:
        return 2
    else:
        return 1

In [107]:
data111["R_value"] = data111.apply(lambda x: func(x.R),axis=1)
data111

       user_id   R  F  R_value
0     10000010  10  1        3
1     10000020  13  1        2
2     10000041  14  2        1
3     10000055  11  1        3
4     10000124  10  1        3
...        ...  .. ..      ...
5964  10125294   8  1        4
5965  10125410   8  1        4
5966  10125516   8  1        4
5967  10125678   8  1        4
5968  10125940   8  1        4

[5969 rows x 4 columns]

In [108]:
def func1(b):
    if b >= 1 and b < 2:
        return 1 
    elif b>=2 and b < 3:
        return 2
    elif b>=3 and b < 4:
        return 3 
    else:
        return 4

In [109]:
data111["F_value"] = data111.apply(lambda x: func1(x.F),axis = 1)
data111

       user_id   R  F  R_value  F_value
0     10000010  10  1        3        1
1     10000020  13  1        2        1
2     10000041  14  2        1        2
3     10000055  11  1        3        1
4     10000124  10  1        3        1
...        ...  .. ..      ...      ...
5964  10125294   8  1        4        1
5965  10125410   8  1        4        1
5966  10125516   8  1        4        1
5967  10125678   8  1        4        1
5968  10125940   8  1        4        1

[5969 rows x 5 columns]

In [110]:
R_mean = data111["R_value"].mean()
F_mean = data111["F_value"].mean()
print(R_mean)
print(F_mean)

2.680683531579829
1.1784218462053946

In [112]:
def func2(a,b):
    if a >= R_mean and b >= F_mean:
        return "重要价值用户"
    elif a >= R_mean and b < F_mean:
        return "重要发展用户"
    elif a < R_mean and b >= F_mean:
        return "重要保持用户"
    else:
        return "重要挽留用户"

In [113]:
data111["用户价值分层"] = data111.apply(lambda x: func2(x.R_value,x.F_value),axis =1)
data111

       user_id   R  F  R_value  F_value  用户价值分层
0     10000010  10  1        3        1  重要发展用户
1     10000020  13  1        2        1  重要挽留用户
2     10000041  14  2        1        2  重要保持用户
3     10000055  11  1        3        1  重要发展用户
4     10000124  10  1        3        1  重要发展用户
...        ...  .. ..      ...      ...     ...
5964  10125294   8  1        4        1  重要发展用户
5965  10125410   8  1        4        1  重要发展用户
5966  10125516   8  1        4        1  重要发展用户
5967  10125678   8  1        4        1  重要发展用户
5968  10125940   8  1        4        1  重要发展用户

[5969 rows x 6 columns]

In [114]:
data222 = pd.DataFrame(data111.groupby("用户价值分层")["user_id"].count())
data222

        user_id
用户价值分层
重要价值用户      116
重要保持用户      901
重要发展用户     3087
重要挽留用户     1865

In [115]:
data333 = data222.reset_index()

In [116]:
data333

   用户价值分层  user_id
0  重要价值用户      116
1  重要保持用户      901
2  重要发展用户     3087
3  重要挽留用户     1865